@font-face { 
    font-family: "FolioBoldCondensed"; 
    src: url("ufonts.com_folio-bold-condensed.ttf"); 
    }

body 
{
      font-family: FolioBoldCondensed;
      background-color: #FFFFFF;
      font-size: 20px;
}

h1 
{ 
    color: #B91023;
    font-family: FolioBoldCondensed;
}

p 
{
    color: purple;
}

#witzigername, tr, td
{
    color: #B91023;
    background-color: limegreen;
    text-align: center;
    border: 1px solid #B91023;
}

img
{
    position: absolute;
    left: 55%;
    top: 20%;
    width: 30%;
}

label
{
    position: absolute;
    left: 60%;
    top: 70%;
    width: 30%;
}

table
        {
            vertical-align: middle;
            border: solid black 2px;
            width: 100%;
            height: 100%;
        }
